* {
	font-family: Sofia, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #2b3a55;
	color: #f2e5e5;
	font-size: 70%;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2px;
	padding: 20px;
	margin-top: auto 50px;
}

.card {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	min-width: 300px;
	text-align: center;
	margin-bottom: 1em;
}

.card-title {
	margin-bottom: 1em;
	font-size: 1.5rem;
}

.card-desc {
	margin-bottom: 1em;
	font-size: 1.6em;
	overflow-wrap: break-word;
	inline-size: 50%;
	line-height: 18px;
}

.containerbutton {
	display: flex;
}

.button-card {
	margin: 2px;
	width: 20px;
	height: 3px;
	text-decoration: none;
	color: #fffdfd;
	padding: 20px;
	min-width: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-justify: auto;
	align-self: center;
	font-weight: 2;
	width: min-content;
	min-width: 5rem;
	min-height: 1rem;

	border: 1px solid #f2e5e5;
	color: #f2e5e5;
	cursor: pointer;
	font-size: 1.2rem;
	padding: 10px;
	width: 6rem;
}

.bookcover {
	margin-bottom: 1em;
	max-width: 120px;
	transition: transform 0.5s, margin-bottom 0.5s;
}

.bookcover:hover {
	cursor: pointer;
	transform: scale(1.1);
	margin-bottom: 20px;
}
